<footer>
    <span class="footer-item hide-for-extra-small">
        <div>
            Prostor pro webovou prezentaci poskytla společnost <a href="http://www.sauron.cz/"
                                                                  target="_blank">Sauron</a>.
        </div>
    </span>
    <span class="footer-delim hide-for-extra-small"></span>
    <span class="footer-item">
        <span>
            Web vytvořili <mail target="gm@ail co@m  mku@cera@22" scrambled>Martin Kučera</mail> a&nbsp;<mail target="g@ma@il c@om  rk@uc@era9@0" scrambled>Radek Kučera</mail>, 2015
        </span>
    </span>
</footer>
<div class="bottom-shadow content-bottom-shadow"></div>
