<a class="item" ui-sref="home">
    <img src="assets/img/home.svg" class="svg">
    <label>Úvod</label>
</a>
<a class="item" ui-sref="start">
    <img src="assets/img/hexagon-outline.svg" class="svg">
    <label>Jak začít</label>
</a>
<a class="item" ui-sref="awards">
    <img src="assets/img/award.svg" class="svg">
    <label>Ocenění</label>
</a>
<a class="item" ui-sref="info">
    <img src="assets/img/document-file.svg" class="svg">
    <label>Rady a&nbsp;tipy</label>
</a>
<a class="item" ui-sref="sale">
    <img src="assets/img/honey_jar_2_scanned_opt.svg" class="svg">
    <label>Prodej</label>
</a>
