<a class="item" ui-sref="finance">
    <img src="assets/img/banknote.svg" class="svg">
    <label>Finance</label>
</a>
<a class="item" ui-sref="links">
    <img src="assets/img/link.svg" class="svg">
    <label>Odkazy</label>
</a>
<a class="item" ui-sref="documents">
    <img src="assets/img/archive.svg" class="svg">
    <label>Dokumenty</label>
</a><a class="item" ui-sref="contact">
    <img src="assets/img/email.svg" class="svg">
    <label>Kontakty</label>
</a>
<div class="item hide-for-large-up"></div>
<!--
    <a class="item">
        <img src="assets/img/iconmonstr-download-2-icon.svg" class="svg">
        <label>Materiály ke stažení</label>
    </a>
-->