<div class="row">
    <custom-links-container reversed>
        <custom-link name="Ocenění př. Odstrčila v soutěži &quot;Český med&quot;"
                     link="http://vcelaricheb.cz/odstrcil.pdf"
                     icon="pdf"></custom-link>
        <custom-link name="Certifikát př. Dryka v soutěži Český med 2014"
                     link="http://vcelaricheb.cz/drykcertifikat.jpg"
                     icon="picture"></custom-link>
        <custom-link name="Radost pohledět za etiketu př. Dryka"
                     link="http://vcelaricheb.cz/dryketiketa.jpg"
                     icon="picture"></custom-link>
        <custom-link name="Zlatá medaile př. Dryka v soutěži Český med 2014"
                     link="http://vcelaricheb.cz/drykzlata.jpg"
                     icon="picture"></custom-link>
    </custom-links-container>
</div>