<div class="row contact-wrapper">
    <div class="small-12 medium-6 columns">
        <h2>Obecné údaje</h2>

        <div class="contact-centerer div-spacing">

            <h3>Český svaz včelařů o.s.</h3>

            <div class="div-spacing contact-org-info">
                <div>
                    Základní organizace Cheb<br>
                    Pelhřimov 39<br>
                    35002 Cheb<br>
                </div>

                <div>
                    evidenční číslo: 30103<br>
                    IČ: 47724081
                </div>

                <!-- link na ucet odstranen - ukazoval na prihlasovaci obrazovku banky -->
                <div>
                    číslo účtu ČSOB: 233023772/0300
                </div>
            </div>
        </div>
    </div>
    <div class="medium-6 hide-for-small columns">
        <img src="assets/img/vcelka_small.png" class="bee-animation">
    </div>
    <div class="med-skip"></div>
    <ul class="small-block-grid-1 medium-block-grid-3">
        <li>
            <div class="contact-centerer">
                <h3>Předseda</h3>

                <div>
                    RSDr. Jan Votruba<br>
                    Do zátiší 28<br>
                    350 02 Cheb<br>
                    mobil: 602 795 032<br>
                    <mail>jo.jik@seznam.cz</mail>
                </div>
            </div>
        </li>
        <li>
            <div class="contact-centerer">

                <h3>Pokladník</h3>

                <div>
                    Vladislav Jedlička<br>
                    17. listopadu 12<br>
                    350 02 Cheb<br>
                    mobil: 739 925 910<br>
                </div>
            </div>
        </li>
        <li>
            <div class="contact-centerer">
                <h3>Jednatel</h3>

                <div>
                    Martin Zapletal<br>
                    Pelhřimov 39<br>
                    350 02 Cheb<br>
                    telefon: 355 320 181<br>
                    mobil: 737 870 585<br>
                    <mail>m.zapletal@post.cz</mail><br>
                    ICQ: 289-977-999 <img class="icq" src="http://wwp.icq.com/scripts/online.dll?icq=289977999&img=27">
                </div>
            </div>
        </li>
    </ul>
</div>
