<div class="row">
    <div class="small-12 columns">

        <h2 class="page-title">Příspěvky a granty</h2>
        <!--
        Částky upraveny podle "Internetová jazyková příručka" - http://prirucka.ujc.cas.cz/?id=786.
        Doporučený tvar je 1 000 Kč (tj. bez ,- a .),
        k zobrazení částky v Kč používejte <kc>castka cislem</kc>.

        Data upravena podle "Internetová jazyková příručka" - http://prirucka.ujc.cas.cz/?id=810.
        Správný tvar: 1. 2. 2015 (nezlomitelné mezery za tečkami, v html &nbsp;)

        Nové položky přidávejte na konec seznamu (při zobrazení se otočí položky seznamu tak,
        aby první zobrazená byla posledně přidaná atd.).
        -->
        <ul reverse-children>
            <li>
                Poděkování <a href="http://www.mestocheb.cz/">Městskému úřadu Cheb</a>, který dle Směrnice SPA č.
                22/2007 v&nbsp;roce 2009 poskytl grant ve výši <kc>12000</kc>.
            </li>

            <li>
                Poděkování <a href="http://www.frantiskovy-lazne.cz/">Městskému úřadu Františkovy Lázně</a>, který
                Usnesením č. 79/09 poskytl grant ve výši <kc>5000</kc>.
            </li>

            <li>
                Poděkování <a href="http://www.frantiskovy-lazne.cz/">Městskému úřadu Františkovy Lázně</a>, který
                Usnesením č. 75/10 poskytl grant ve výši <kc>5000</kc> na léčení včelstev.
            </li>

            <li>
                Poděkování <a href="http://www.mestocheb.cz/">Městskému úřadu Cheb</a>, který dle Směrnice SPA na rok
                2010 a&nbsp;na základě usnesení č. 468/17/2009 ze dne 19.&nbsp;11.&nbsp;2009 poskytl grant ve výši <kc>14000</kc> na
                léčení včelstev.
            </li>

            <li>
                Poděkování <a href="http://www.mestocheb.cz/">Městskému úřadu Cheb</a>, za <a href="Podekovani.pdf">grant</a>
                v roce 2014 ve výši <kc>17000</kc> na léčení včelstev.
            </li>

            <li>
                Poděkování <a href="http://www.mestocheb.cz/">Městskému úřadu Cheb</a>, který dle usnesení RM
                487/20/2014 ze dne 4.&nbsp;12.&nbsp;2014 poskytl grant ve výši <kc>20000</kc> na léčení včelstev.
            </li>

            <li>
                Poděkování <a href="http://www.frantiskovy-lazne.cz/">Městskému úřadu Františkovy Lázně</a>, který dle
                usnesení ZM IV/71/15 ze dne 25.&nbsp;2.&nbsp;2015 poskytl grant ve výši <kc>5000</kc> na léčení včelstev.
            </li>
        </ul>
    </div>
</div>