<div class="row">
    <div class="medium-12 small-12 columns">
        <h1>Vítejte!</h1>
        Včelařství je jeden z nejstarších oborů lidské činnosti. Předmětem je chov včely medonosné. Výstupními produkty
        jsou med, vosk, propolis, pyl, mateří kašička a včelí jed. Významným výstupem včelařské činnosti je též opylení
        rostlin. Včelaření se v Česku věnují z velké části malovčelaři ze záliby.
        <div class="source-text">
            zdroj: <a href="https://cs.wikipedia.org/wiki/V%C4%8Dela%C5%99stv%C3%AD"
                      target="_blank">Wikipedie</a>
        </div>
    </div>
    <custom-links-container class="medium-12 small-12 columns">
        <custom-link name="Kalendář akcí pro rok&nbsp;2015"
                     link="http://vcelaricheb.cz/akce2015.pdf"
                     icon="calendar"></custom-link>
        <custom-link name="Mimořádná veterinární opatření pro rok 2015"
                     link="http://vcelaricheb.cz/MVO2015.pdf"
                     icon="clipboard"></custom-link>
        <custom-link name="Metodika kontoly zdraví (str.&nbsp;14-15)"
                     link="http://vcelaricheb.cz/MKZ2015.pdf"
                     icon="clipboard"></custom-link>
        <custom-link name="Záznam o léčení včelstev"
                     link="http://vcelaricheb.cz/zaznam.pdf"
                     icon="clipboard"></custom-link>
    </custom-links-container>
</div>