<div class="row">
    <custom-links-container>
        <custom-link name="Aplikace kyseliny mravenčí 65%"
                     link="http://vcelaricheb.cz/aplikacekm.mp4"
                     icon="video"></custom-link>
        <custom-link name="Jednoduchý chov matek"
                     link="http://vcelaricheb.cz/chovmatek.pdf"
                     icon="pdf"></custom-link>
        <custom-link name="Proč volně žijící včelstva netrpí morem včelího plodu"
                     link="http://vcelaricheb.cz/volnezijicivcelstva.pdf"
                     icon="pdf"></custom-link>
        <custom-link name="Nabídka alternativní léčby a alternativního krmení"
                     link="http://vcelaricheb.cz/KM.pdf"
                     icon="pdf"></custom-link>
        <custom-link name="Varroa Kalkulátor"
                     link="http://vcelaricheb.cz/VarroaCalc.xls"
                     icon="document"></custom-link>
        <custom-link name="Výpočet ředění KM"
                     link="http://vcelaricheb.cz/vypocetkm.xls"
                     icon="document"></custom-link>
        <custom-link name="Kronikářský zpravodaj 4/1979"
                     link="http://vcelaricheb.cz/kronikarskyzpravodaj.pdf"
                     icon="pdf"></custom-link>
        <custom-link name="Příbalová informace pro přípravek M1-AER"
                     link="http://vcelaricheb.cz/m1-aer.pdf"
                     icon="pdf"></custom-link>
    </custom-links-container>
</div>