<div class="row">
    <custom-links-container>
        <custom-link name="Web mail"
                     link="http://webmail2.forpsi.com/index.html?ad_id=2559&ad_ident=8da793f54c381555315a4dfcbdccbd5f"
                     icon="link"></custom-link>
        <custom-link name="Elektrické nářadí&nbsp;-&nbsp;zahradní technika, sekačky, pily, brusky, Makita"
                     link="http://www.naradi-vitek.cz/?refId=2762"
                     icon="link"></custom-link>
        <custom-link name="Český svaz včelařů"
                     link="http://www.vcelarstvi.cz/cz/index.html?page=novinky"
                     icon="link"></custom-link>
        <custom-link
                name="Krajský úřad Karlovarského kraje (informace o příspěvku na podporu včelařství)"
                link="http://www.kr-karlovarsky.cz/dotace/Stranky/dotaceKK/seznam-prispevku/vcely_prispevky.aspx"
                icon="link"></custom-link>
        <custom-link name="Pěkné stránky o&nbsp;medovině"
                     link="http://www.medovina.sk/vyroba.htm"
                     icon="link"></custom-link>
        <custom-link name="Nástavková technologioe chovu včel&nbsp;-&nbsp;pěkný popis"
                     link="http://www.n-vcelari.sk/sal/VCELY22.html#_Toc503189323"
                     icon="link"></custom-link>
        <custom-link name="Varroamonitoring systém, VMS"
                     link="http://varroamonitoring.cz/home.do"
                     icon="link"></custom-link>
        <custom-link name="Pracovní společnost nástavkových včelařů&nbsp;-&nbsp;SK"
                     link="http://www.n-vcelari.sk/"
                     icon="link"></custom-link>
        <custom-link
                name="Internetové adresy na včelařské stránky&nbsp;-&nbsp;téměř vše a&nbsp;pravidelně aktualizované"
                link="http://www.vcely.or.cz/links.htm"
                icon="link"></custom-link>
        <custom-link name="Pěkná stránka&nbsp;-&nbsp;Fascinovaný včelař"
                     link="http://ovcsvpardubice.blog.cz/0806/vcely-riskuji-stejne-jako-lidi"
                     icon="link"></custom-link>
        <custom-link name="Výroba a&nbsp;prodej včelařských potřeb a&nbsp;včelích produktů&nbsp;-&nbsp;VCEST"
                     link="http://www.vcest.cz/obchod/index.php?p=p_2&sName=Uvod"
                     icon="link"></custom-link>
        <custom-link name="Výroba a&nbsp;prodej včelařských potřeb a&nbsp;včelích produktů&nbsp;-&nbsp;Václav Břinek"
                     link="http://www.brinek.cz/"
                     icon="link"></custom-link>
        <custom-link name="Včelařství Jarošovi"
                     link="http://vcelarstvi-jasovi.cz/index.htm"
                     icon="link"></custom-link>
        <custom-link name="Osobní stránky včelaře Martina Vrátníka z&nbsp;ZO ČSV Cheb"
                     link="http://www.vratnik.cz/"
                     icon="link"></custom-link>
        <custom-link name="Stránky ZO ČSV Plesná"
                     link="http://vcelariplesna.717.cz/"
                     icon="link"></custom-link>

    </custom-links-container>


    <!--
    <hr/>

    <custom-links-container>

        <custom-link name="233023772/0300" link="https://muj.erasvet.cz/prihlaseni" icon="link"></custom-link>
        <custom-link name="jo.jik@seznam.cz" link="http://vcelaricheb.cz/mailto:jo.jik@seznam.cz"
                     icon="link"></custom-link>
        <custom-link name="m.zapletal@post.cz" link="http://vcelaricheb.cz/mailto:m.zapletal@post.cz"
                     icon="link"></custom-link>
        <custom-link name="" link="http://webmail2.forpsi.com/index.html?ad_id=2559&ad_ident=8da793f54c381555315a4dfcbdccbd5f
		" icon="link"></custom-link>
        <custom-link name="" link="http://www.sauron.cz" icon="link"></custom-link>
        <custom-link name="Elektrické nářadí - zahradní technika, sekačky, pily, brusky, Makita"
                     link="http://www.naradi-vitek.cz/?refId=2762" icon="link"></custom-link>
        <custom-link name="Kronikářský zpravodaj 4/1979" link="http://vcelaricheb.cz/kronikarskyzpravodaj.pdf"
                     icon="link"></custom-link>
        <custom-link name="PŘÍSPĚVKY A GRANTY" link="http://vcelaricheb.cz/granty.html" icon="link"></custom-link>
        <custom-link name="" link="http://vcelaricheb.cz/pametni list.pdf" icon="link"></custom-link>
        <custom-link name="" link="http://vcelaricheb.cz/pametni list.pdf" icon="link"></custom-link>
        <custom-link name="Video s aplikací kyseliny mravenčí 65%" link="http://vcelaricheb.cz/aplikacekm.mp4"
                     icon="link"></custom-link>
        <custom-link name="Jednoduchý chov matek" link="http://vcelaricheb.cz/chovmatek.pdf" icon="link"></custom-link>
        <custom-link name="Proč volně žijící včelstva netrpí morem včelího plodu"
                     link="http://vcelaricheb.cz/volnezijicivcelstva.pdf" icon="link"></custom-link>
        <custom-link name="Nabídka alternativní léčby a alternativního krmení" link="http://vcelaricheb.cz/KM.pdf"
                     icon="link"></custom-link>
        <custom-link name="Varroa Kalkulátor" link="http://vcelaricheb.cz/VarroaCalc.xls" icon="link"></custom-link>
        <custom-link name="Výpočet ředění KM" link="http://vcelaricheb.cz/vypocetkm.xls" icon="link"></custom-link>
        <custom-link name="Kalendář akcí pro rok 2015" link="http://vcelaricheb.cz/akce2015.pdf"
                     icon="link"></custom-link>
        <custom-link name="Příbalová informace pro přípravek  M1-AER" link="http://vcelaricheb.cz/m1-aer.pdf"
                     icon="link"></custom-link>
        <custom-link name="SEZNAM VČELAŘŮ NABÍZEJÍCÍCH SVŮJ MED" link="http://vcelaricheb.cz/vcelari.html"
                     icon="link"></custom-link>
        <custom-link name="Přihláška pro nové členy - fyzické osoby"
                     link="http://www.vcelarstvi.cz/files/pdf_2014/clenska-prihlaska-14-02-24-01.pdf"
                     icon="link"></custom-link>
        <custom-link name="Chcete začít včelařit?" link="http://www.vcelarstvi.cz/clanky-chcete-zacit-vcelarit.html"
                     icon="link"></custom-link>
        <custom-link name="Jak začít včelařit" link="http://vcelaricheb.cz/jak_zacit_vcelarit.pdf"
                     icon="link"></custom-link>
        <custom-link name="Mimořádná veterinární opatření pro rok 2015" link="http://vcelaricheb.cz/MVO2015.pdf"
                     icon="link"></custom-link>
        <custom-link name="Metodika kontoly zdraví - str. 14-15" link="http://vcelaricheb.cz/MKZ2015.pdf"
                     icon="link"></custom-link>
        <custom-link name="Záznam o léčení včelstev" link="http://vcelaricheb.cz/zaznam.pdf" icon="link"></custom-link>
        <custom-link name="Český svaz včelařů" link="http://www.vcelarstvi.cz/cz/index.html?page=novinky"
                     icon="link"></custom-link>
        <custom-link
                name="Krajský úřad Karlovarského kraje, kde se dočtete, jak a co je potřeba k podání žádosti o poskytnutí finančního příspěvku na podporu včelařství"
                link="http://www.kr-karlovarsky.cz/dotace/Stranky/dotaceKK/seznam-prispevku/vcely_prispevky.aspx"
                icon="link"></custom-link>
        <custom-link name="Pěkné stránky o medovině" link="http://www.medovina.sk/vyroba.htm" icon="link"></custom-link>
        <custom-link name="Nástavková technologioe chovu včel - pěkný popis"
                     link="http://www.n-vcelari.sk/sal/VCELY22.html#_Toc503189323" icon="link"></custom-link>
        <custom-link name="Varroamonitoring systém, VMS" link="http://varroamonitoring.cz/home.do"
                     icon="link"></custom-link>
        <custom-link name="Pracovní společnost nástavkových včelařů - SK" link="http://www.n-vcelari.sk/"
                     icon="link"></custom-link>
        <custom-link name="Internetové adresy na včelařské stránky - téměř vše a pravidelně aktualizované"
                     link="http://www.vcely.or.cz/links.htm" icon="link"></custom-link>
        <custom-link name="pěkná stránka - Fascinující včelař"
                     link="http://ovcsvpardubice.blog.cz/0806/vcely-riskuji-stejne-jako-lidi" icon="link"></custom-link>
        <custom-link name="výroba a prodej včelařských potřeb a včelých produktů - VCEST"
                     link="http://www.vcest.cz/obchod/index.php?p=p_2&sName=Uvod" icon="link"></custom-link>
        <custom-link name="výroba a prodej včelařských potřeb a včelých produktů - Václav Břinek"
                     link="http://www.brinek.cz/" icon="link"></custom-link>
        <custom-link name="Včelařství Jarošovi" link="http://vcelarstvi-jasovi.cz/index.htm" icon="link"></custom-link>
        <custom-link name="Osobní stránky včelaře Martina Vrátníka z ZO ČSV Cheb" link="http://www.vratnik.cz/"
                     icon="link"></custom-link>
        <custom-link name="stránky ZO ČSV Plesná" link="http://vcelariplesna.717.cz/" icon="link"></custom-link>
        <custom-link name="Ocenění př. Odstrčila v soutěži " Český med
        "" link="http://vcelaricheb.cz/odstrcil.pdf" icon="link"></custom-link>
        <custom-link name="e-Věstník 10/2012 - varroáza" link="http://vcelaricheb.cz/e-Vestnik-2012-10.pdf"
                     icon="link"></custom-link>
        <custom-link name="Pančování medu"
                     link="http://hobby.idnes.cz/testy-odhalily-pancovany-med-djj-/hobby-domov.aspx?c=A120513_141005_hobby-domov_mce"
                     icon="link"></custom-link>
        <custom-link name="Pěkné video o kvalitě medu z obchodních řetězců"
                     link="http://www.stream.cz/video/682591-a-dost-test-medu" icon="link"></custom-link>
        <custom-link name="Krmivo pro včely - distribuce pro severozápad" link="http://krmivoprovcely.tor.cz/index.html"
                     icon="link"></custom-link>
        <custom-link name="Zlatá medaile př. Dryka v soutěži Český med 2014" link="http://vcelaricheb.cz/drykzlata.jpg"
                     icon="link"></custom-link>
        <custom-link name="Radost pohledět za etiketu př. Dryka" link="http://vcelaricheb.cz/dryketiketa.jpg"
                     icon="link"></custom-link>
        <custom-link name="Certifikát př. Dryka v soutěži Český med 2014"
                     link="http://vcelaricheb.cz/drykcertifikat.jpg" icon="link"></custom-link>
        <custom-link name="Jak houby zachraňují včely" link="https://www.youtube.com/watch?v=GMeIJpUznnM"
                     icon="link"></custom-link>
        <custom-link name="Dokumenty ZO Cheb" link="http://vcelaricheb.cz/dokumenty.html" icon="link"></custom-link>
        <custom-link name="Dokumenty ZO Skalná" link="http://vcelaricheb.cz/dokumentyskalna.html"
                     icon="link"></custom-link>
        <custom-link name="Dokumenty OO Cheb" link="http://vcelaricheb.cz/dokumentyOV.html" icon="link"></custom-link>
    </custom-links-container>
    -->
</div>
