<div class="row">
    <div class="small-12 columns">
        <h1>Chebští včelaři nabízející svůj med a&nbsp;ostatní včelí produkty "ZE DVORA"</h1>

        <div class="med-skip"></div>
    </div>
</div>
<div class="row sale-wrapper">
    <div class="small-12 medium-7 columns">
        <div class="flex-center">
            <div>
                <table>
                    <tr>
                        <th>Jméno a přímení</th>
                        <th>Adresa</th>
                        <th>Telefon</th>
                    </tr>
                    <tr>
                        <td>
                            <a target="_blank"
                               href="http://www.mapy.cz/#x=128366440@y=136004176@z=17@mm=FP@ax=128366440@ay=136003960@at=Jedli%C4%8Dka@ad=Jedli%C4%8Dka%20-%20prodej%20medu%20ze%20dvora@sa=s@st=s@ssq=cheb@sss=1@ssp=121590693_123619201_149509029_148948865">Vladislav
                                Jedlička</a></td>
                        <td>Cheb, 17. listopadu 12</td>
                        <td>739 925 910</td>
                    </tr>
                    <tr>
                        <td>
                            <a target="_blank"
                               href="http://www.mapy.cz/#x=128327568@y=135956616@z=17@mm=FP@ax=128328576@ay=135956832@at=Odstr%C4%8Dil@ad=Odstr%C4%8Dil%20-%20prodej%20medu%20ze%20dvora@sa=s@st=s@ssq=cheb@sss=1@ssp=121590693_123619201_149509029_148948865">Karel
                                Odstrčil</a></td>
                        <td>Cheb, Pelhřimov 23</td>
                        <td>354 437 408</td>
                    </tr>
                    <tr>
                        <td>
                            <a target="_blank"
                               href="http://www.mapy.cz/#x=128261568@y=135982752@z=15@mm=FP@ax=128257472@ay=135984576@at=Zapletal@ad=Zapletal%20-%20prodej%20medu%20ze%20dvora">Martin
                                Zapletal</a></td>
                        <td>Cheb, Pelhřimov 39</td>
                        <td>737 870 585</td>
                    </tr>
                    <tr>
                        <td>
                            <a target="_blank"
                               href="http://www.mapy.cz/#x=128335056@y=136004992@z=16@mm=FP@ax=128335296@ay=136004896@at=Votruba@ad=Votruba%20-%20prodej%20medu%20ze%20dvora@sa=s@st=s@ssq=cheb@sss=1@ssp=121590693_123619201_149509029_148948865">Jan
                                Votruba</a></td>
                        <td>Cheb, Do Zátiší 28</td>
                        <td>602 795 032</td>
                    </tr>
                    <tr>
                        <td>
                            <a target="_blank"
                               href="http://www.mapy.cz/#x=128378400@y=136056544@z=16@mm=FP@ax=128379936@ay=136055472@at=Sirotek@ad=Sirotek%20-%20prodej%20medu%20ze%20dvora@sa=s@st=s@ssq=cheb@sss=1@ssp=121590693_123619201_149509029_148948865">Jiří
                                Sirotek</a></td>
                        <td>Cheb, Javorová 1</td>
                        <td>354 422 522</td>
                    </tr>
                    <tr>
                        <td>
                            <a target="_blank"
                               href="http://www.mapy.cz/#z=15&c=h&t=s&x=12.395519&y=50.059206&d=addr_10945917_1&q=Cheb%2C%20Ke%20k%C5%99%C3%AD%C5%BE%C5%AFm%20107&qp=12.309630_50.063614_12.329383_50.069288_15">Václav
                                Dvořák</a></td>
                        <td>Podhrad, Ke Křížům 107</td>
                        <td>608 306 463</td>
                    </tr>
                    <tr>
                        <td>
                            <a target="_blank"
                               href="http://mapy.cz/zakladni?x=12.3727432&y=50.0732560&z=15&source=addr&id=10947716&q=Cheb%2C%20Vald%C5%A1tejnova%2046">obchod
                                Medlenka</a></td>
                        <td>Cheb, Valdštejnova 46</td>
                        <td>603 485 857</td>
                    </tr>
                    <tr>
                        <td><a target="_blank"
                               href="http://www.mapy.cz/#q=Cheb%2C%20soub%C4%9B%C5%BEn%C3%A1%2013&t=s&x=12.399606&y=50.061402&z=15&u=u&umc=9cNjixXonl&uml=T%C5%AFma-prodej%20medu%20ze%20dvora">Bohumil
                            Tůma</a></td>
                        <td>Cheb, Podhrad 13</td>
                        <td>737 458 385</td>
                    </tr>
                </table>
                Po kliknutí na jméno se zobrazí fotomapa.
            </div>
        </div>
    </div>
    <div class="medium-5 columns show-for-medium-up sale-honey-container">
        <div class="sale-img-container">
            <img src="assets/img/honey_jar_big.png">
        </div>
    </div>
</div>
