<div class="row">
    <custom-links-container>
        <custom-link name="Od jara do podzimu aneb jak začít včelařit"
                     link="http://www.vcelarstvi.cz/files/pdf/jak_zacit_vcelarit.pdf"
                     icon="book"></custom-link>
        <custom-link name="Přihláška pro nové členy (fyzické osoby)"
                     link="http://www.vcelarstvi.cz/files/pdf_2014/clenska-prihlaska-14-02-24-01.pdf"
                     icon="pdf"></custom-link>
    </custom-links-container>
</div>