<div class="flex-center">
    <table>
        <tbody reverse-children="skip: 3">
        <tr>
            <th>Dokument</th>
            <th>Datum</th>
        </tr>
        <tr>
            <td><a href="zapisy/clenoveOVCheb.xls">Složení okresního výboru</a></td>
            <td>4/2010</td>
        </tr>
        <tr>
            <td><a href="zapisy/Stanovy CSV.PDF">Stanovy ČSV</a></td>
            <td>19. 12. 2006</td>
        </tr>
        <tr>
            <td><a href="zapisy/zapisOV24042010.pdf">Zápis z okresní konference</a></td>
            <td>24. 4. 2010</td>
        </tr>
        <tr>
            <td><a href="zapisy/PLAN PRACE NA 2010-oprava.doc">Plán práce na rok 2010</a></td>
            <td>6. 5. 2010</td>
        </tr>
        <tr>
            <td><a href="zapisy/zapis06052010.PDF">Zápis OV</a></td>
            <td>6. 5. 2010</td>
        </tr>
        <tr>
            <td><a href="zapisy/Zapis24062010.PDF">Zápis OV</a></td>
            <td>24. 6. 2010</td>
        </tr>
        <tr>
            <td><a href="zapisy/vcelari ZO Luby.xls">včelaři ZO Luby</a></td>
            <td>1. 7. 2010</td>
        </tr>
        <tr>
            <td><a href="zapisy/Zapis25112010.PDF">Zápis OV</a></td>
            <td>25. 11. 2010</td>
        </tr>
        <tr>
            <td><a href="zapisy/Plan prace 2011.pdf">Plán práce na rok 2011</a></td>
            <td>1. 12. 2010</td>
        </tr>
        <tr>
            <td><a href="zapisy/zapis27012011.PDF">Zápis OV</a></td>
            <td>27. 1. 2011</td>
        </tr>
        <tr>
            <td><a href="zapisy/zapis02062011.pdf">Zápis OO</a></td>
            <td>2. 6. 2011</td>
        </tr>
        <tr>
            <td><a href="zapisy/Zapis25022012.pdf">Zápis OO</a></td>
            <td>26. 1. 2012</td>
        </tr>
        <tr>
            <td><a href="zapisy/Zapis29112012.pdf">Zápis OO</a></td>
            <td>29. 11. 2012</td>
        </tr>
        <tr>
            <td><a href="zapisy/Zapis04042013.pdf">Zápis OO</a></td>
            <td>4. 4. 2013</td>
        </tr>
        <tr>
            <td><a href="zapisy/Zapis23012014.pdf">Zápis OO</a></td>
            <td>23. 1. 2014</td>
        </tr>
        <tr>
            <td><a href="zapisy/Zapis15012015.pdf">Zápis OO</a></td>
            <td>15. 1. 2015</td>
        </tr>
        <tr>
            <td><a href="zapisy/Zapis06062015.pdf">Zápis z okresní konference</a></td>
            <td>6. 6. 2015</td>
        </tr>

        </tbody>
    </table>
</div>